In [155]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans
from sklearn.cluster import AgglomerativeClustering

from gensim.models.ldamodel import LdaModel
from gensim.corpora import Dictionary

In [156]:
processed_df = pd.read_pickle('../data/preprocessed_df.pkl')

In [157]:
processed_df.head()

                                                                 text
TheRedPill          google fire ph biologist engineer claiming ave...
BlackPeopleTwitter  wildest trend imo corjay lmao shippuden inco l...
WhitePeopleTwitter  solution obvious shooting foot secular talk vv...
politics            megathread joe biden projected defeat presiden...
law                 law school leaked draft dobbs opinion justice ...

In [158]:
tfidf_vectorizer = TfidfVectorizer(max_df = .9)

text_transformed = tfidf_vectorizer.fit_transform(processed_df['text'])

In [159]:
text_transformed

<180x76448 sparse matrix of type '<class 'numpy.float64'>'
	with 414979 stored elements in Compressed Sparse Row format>

In [160]:
k_clusterer = KMeans(n_clusters = 5, random_state = 305)

k_clusterer.fit(text_transformed)

KMeans(n_clusters=5, random_state=305)

In [161]:
processed_df['k_means_labels'] = k_clusterer.labels_

In [162]:
processed_df['k_means_labels'].value_counts()

3    90
4    51
1    26
2     8
0     5
Name: k_means_labels, dtype: int64

In [163]:
processed_df.loc[processed_df['k_means_labels'] == 3]

,text,k_means_labels
Jokes,sad news founder joke passed away rip larry te...,3
funny,cab driver tonight excited share made cover ca...,3
gaming,showing year someone care srgrafo parent late ...,3
Games,john totalbiscuit bain july cyberpunk removed ...,3
gadgets,eu proposes mandatory usb c device iphones law...,3
...,...,...
CCW,cashier sensed trouble trusted gut please idio...,3
Glocks,watching shit knowing damn well ammo price goi...,3
tacticalgear,snuck basement cool gun unfortunately gun lift...,3
liberalgunowners,fight net neutrality view gun ownership side g...,3
Offensivejokes,vegan view vegan think animal die wild mac che...,3

In [164]:
agg_clusterer = AgglomerativeClustering(n_clusters = None, distance_threshold = 1.65, compute_full_tree = True)
agg_clusterer.fit(text_transformed.toarray())

AgglomerativeClustering(compute_full_tree=True, distance_threshold=1.65,
                        n_clusters=None)

In [165]:
processed_df['agg_labels'] = agg_clusterer.labels_

In [166]:
processed_df['agg_labels'].value_counts()

2     37
0     34
1     30
3     22
4     11
14     8
13     6
7      6
5      5
8      5
6      4
11     4
10     4
9      2
12     2
Name: agg_labels, dtype: int64

In [167]:
processed_df.loc[processed_df['agg_labels'] == 8]

,text,k_means_labels,agg_labels
guns,colt limited batch west point class graduation...,3,8
nra,touch bette midler bette v hey hey nra life to...,3,8
Firearms,rifle handed resident kyiv anyone want defend ...,3,8
CCW,cashier sensed trouble trusted gut please idio...,3,8
liberalgunowners,fight net neutrality view gun ownership side g...,3,8

# Clustering on Posts

In [168]:
post_df = pd.read_pickle('../data/df_by_post.pkl')

In [169]:
tfidf_vectorizer = TfidfVectorizer(max_df = .9)

text_transformed = tfidf_vectorizer.fit_transform(post_df['finalized_text'])

In [170]:
k_clusterer = KMeans(n_clusters = 50, random_state = 305)

k_clusterer.fit(text_transformed)

KMeans(n_clusters=50, random_state=305)

In [171]:
post_df['k_means_labels'] = k_clusterer.labels_

In [172]:
post_df['k_means_labels'].value_counts()

0     14035
28     1225
20     1224
1      1136
30      925
23      912
42      870
34      861
37      699
13      605
31      565
6       553
33      547
14      512
16      491
44      445
11      434
27      412
45      404
35      397
32      393
43      386
5       360
24      360
40      358
12      353
10      349
17      347
25      336
26      333
2       326
46      318
8       318
9       313
4       312
36      306
19      246
15      246
22      243
38      237
39      211
7       195
48      192
47      166
21      159
18      158
29      147
3        76
49       73
41       62
Name: k_means_labels, dtype: int64

In [173]:
post_df.loc[post_df['k_means_labels'] == 6]

,created_utc,subreddit,subreddit_subscribers,upvote_ratio,num_comments,url,image?,image_text,total_text,tokenned_stopped_text,finalized_text,alignment,k_means_labels
602,1.597330e+09,politics,8062883.0,0.93,7916.0,https://www.independent.co.uk/news/world/ameri...,False,,AOC challenges Trump to release his college tr...,"[aoc, challenge, trump, release, college, tran...",aoc challenge trump release college transcript...,0,6
629,1.608071e+09,politics,8062883.0,0.88,4233.0,https://www.independent.co.uk/news/world/ameri...,False,,Trump must turn over financial documents to Ne...,"[trump, turn, financial, document, new, york, ...",trump turn financial document new york attorne...,0,6
734,1.644417e+09,politics,8062883.0,0.89,4710.0,https://www.rollingstone.com/politics/politics...,False,,Louisiana Senate Candidate Literally Torches a...,"[louisiana, senate, candidate, torch, confeder...",louisiana senate candidate torch confederate f...,0,6
838,1.624548e+09,law,186908.0,0.96,164.0,https://www.cnbc.com/2021/06/24/rudy-giuliani-...,False,,Giuliani suspended from practicing law in New ...,"[giuliani, suspended, practicing, law, new, yo...",giuliani suspended practicing law new york fal...,0,6
848,1.616757e+09,law,186908.0,0.97,124.0,https://newyork.cbslocal.com/2021/03/25/qualif...,False,,New York Becomes First City In U.S. To End Qua...,"[new, york, becomes, first, city, u, end, qual...",new york becomes first city u end qualified im...,0,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34895,1.640808e+09,HillaryForPrison,54062.0,0.94,2.0,https://i.redd.it/d98xpd58ej881.jpg,True,Tim Young @\n\n@TimRunsHisMouth\nThere's a cri...,Crime Wave Tim Young @\n\n@TimRunsHisMouth\nTh...,"[crime, wave, tim, young, timrunshismouth, cri...",crime wave tim young timrunshismouth crime wav...,-1,6
34957,1.653308e+09,Offensivejokes,204260.0,0.99,55.0,https://i.redd.it/oxfv6l40x7191.jpg,True,| think that the new James Bond should be\na w...,James Bond (she/her) | think that the new Jame...,"[james, bond, think, new, james, bond, woman, ...",james bond think new james bond woman think gr...,-1,6
35032,1.653308e+09,Offensivejokes,204260.0,0.99,55.0,https://i.redd.it/oxfv6l40x7191.jpg,True,| think that the new James Bond should be\na w...,James Bond (she/her) | think that the new Jame...,"[james, bond, think, new, james, bond, woman, ...",james bond think new james bond woman think gr...,-1,6
35067,1.636956e+09,Offensivejokes,204260.0,1.00,37.0,https://i.redd.it/gxs0qdla9pz71.jpg,True,,Happy new year.,"[happy, new, year]",happy new year,-1,6
35070,1.641904e+09,Offensivejokes,204260.0,1.00,19.0,https://i.redd.it/7lf20uf5y1b81.jpg,True,Bert suddenly realizes that his new\nfriend di...,Oh well Bert suddenly realizes that his new\nf...,"[well, bert, suddenly, realizes, new, friend, ...",well bert suddenly realizes new friend say hat...,-1,6