In [25]:
import pandas as pd

from sklearn.feature_extraction.text import TfidfVectorizer

from scipy.sparse import hstack

In [26]:
df_by_post = pd.read_pickle('../data/df_by_post.pkl')

In [27]:
df_by_post.head()

,created_utc,subreddit,subreddit_subscribers,upvote_ratio,num_comments,url,image?,image_text,total_text,tokenned_stopped_text,finalized_text,alignment
0,1.502177e+09,TheRedPill,0.0,0.65,840.0,https://www.reddit.com/r/TheRedPill/comments/6...,False,,Google Fires Ph.D Biologist/Engineer For Claim...,"[google, fire, ph.d, biologist/engineer, claim...",google fire ph.d biologist/engineer claiming a...,-1
1,1.480424e+09,TheRedPill,0.0,0.82,760.0,https://www.reddit.com/r/TheRedPill/comments/5...,False,,HOW TO GET LAID LIKE A WARLORD: 37 Rules of Ap...,"[laid, warlord, 37, rule, approaching, model-t...",laid warlord 37 rule approaching model-tier gi...,-1
2,1.502101e+09,TheRedPill,0.0,0.86,179.0,https://www.reddit.com/r/TheRedPill/comments/6...,False,,I have been practicing Stoicism for 3 years no...,"[practicing, stoicism, 3, year, quality, life,...",practicing stoicism 3 year quality life increa...,-1
3,1.433962e+09,TheRedPill,0.0,0.87,954.0,https://www.reddit.com/r/TheRedPill/comments/3...,False,,"[META] Reddit rolls out first ban wave of ""Har...","[meta, reddit, roll, first, ban, wave, harassi...",meta reddit roll first ban wave harassing subr...,-1
4,1.500270e+09,TheRedPill,0.0,0.90,336.0,https://www.reddit.com/r/TheRedPill/comments/6...,False,,"Man gets his ex-GF to pay child support, and R...","[man, get, ex-gf, pay, child, support, reddit,...",man get ex-gf pay child support reddit freak k...,-1

In [28]:
predicting_df = df_by_post.drop(columns = ['url', 'subreddit_subscribers', 'image_text', 'total_text', 'tokenned_stopped_text', 'created_utc', 'subreddit'])

In [29]:
predicting_df

,upvote_ratio,num_comments,image?,finalized_text,alignment
0,0.65,840.0,False,google fire ph.d biologist/engineer claiming a...,-1
1,0.82,760.0,False,laid warlord 37 rule approaching model-tier gi...,-1
2,0.86,179.0,False,practicing stoicism 3 year quality life increa...,-1
3,0.87,954.0,False,meta reddit roll first ban wave harassing subr...,-1
4,0.90,336.0,False,man get ex-gf pay child support reddit freak k...,-1
...,...,...,...,...,...
35126,0.98,62.0,True,equality,-1
35127,0.98,96.0,False,ca handle neutron style,-1
35128,0.99,57.0,True,h bethesda bethesda bethesda uk iio tatesxe fo...,-1
35129,0.99,40.0,True,feminist hear people drafted world war 3 femin...,-1
35130,0.99,126.0,True,triggered everyone politically correct day can...,-1

In [30]:
tfidf_vectorizer = TfidfVectorizer(max_df = .9)

text_transformed = tfidf_vectorizer.fit_transform(predicting_df['finalized_text'])

In [31]:
features_df = predicting_df.drop(columns= ['finalized_text', 'alignment'])

In [32]:
sparse_features = hstack([text_transformed, features_df])

TypeError: no supported conversion for types: (dtype('float64'), dtype('O'))